/* Report */
#timerNavigation {
    background-color: rgba(0, 0, 0, 0.2);
}
#timerNavigation .nav-item .nav-link:hover {
    color: yellow !important;
}

/* TList */

.bg-report {
  background-color: rgba(15, 72, 113, 0.4);
}

#tableList td,  #tableList th {
    border: 0.0625rem solid #ddd;
    padding: 0.75rem;
}
#tableList tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  #tableList tr:hover {
    background-color: #ddd;
  }

  #tableList th {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    text-align: center;
    background-color: #0f4871;
    color: white;
  }

  #tableList td {
    text-align: left;
  }

  /* TChart */
  #chart-container {
    padding: 1em 4em;
  }

#weekly, #monthly {
  margin: 20px auto;
  padding: 1em 2em;
  max-width: 100%;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

#yearSelect {
  padding: 8px;
  font-size: 1rem;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.bar-chart-container {
  width: 100%; /* Makes the container responsive */
  height: auto; /* Allows height to adjust */
}

canvas {
  width: 100%;
  height: 450px !important;
}


  @media (max-width: 768px) {
     /* Reduce margins and spacing */
     #chart-container {
      padding: 1em;
     }

    #weekly, #monthly {
      margin-bottom: 16px;
      padding: 8px;
    }

    canvas {
      width: 100% ;
      height: 350px !important;
    }

  }
