.container-fluid {
  --bs-gutter-x: 0 !important;
}

.timer-container {
  min-height: 90vh;
  background-color: #DDE6ED;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23c7c4cb' fill-opacity='0.18'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.timerApp {
    text-align: center;
    width: 45% !important;
    border: 1px solid rgba(232, 235, 238, 0.3);
}

/* pomodoro-content */
  /* TContent */
  .pomo-title {
    color: tomato;
    font-weight: 700;
    border-bottom: 4px solid tomato;
    width: fit-content;
  }
  .pomo-content {
    font-size: 1rem;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    word-spacing: 2px;
    color: #0f4871;
  }


@media screen and (max-width: 767px) {
    .pomo-title {
      font-size: 1.3rem;
    }
    .pomo-content {
      font-size: 1rem;
    }
    .timerApp {
      width: 85% !important;
    }
    
}
